@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("~@/assets/fonts/franklin-gothic-medium.woff2") format("woff2"),
    url("~@/assets/fonts/franklin-gothic-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
